.ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 74px;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: flex-end;
}
.li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p {
  text-align: center;
  color: #4e4e4e;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding: 5px;
  max-width: 215px;
}
.img {
  height: auto;
  display: block;
}
